
*{
    margin: 0;
    padding: 0;
}

.contenedor{
background-color: hsl(217, 54%, 11%);
height: 95vh;
display: flex;
justify-content: center;
align-items: center;
}

.card-container{
    width: 260px;
    background-color: hsl(216, 50%, 16%);
    color: white;
    border-radius: 15px;
    padding: 20px;
    font-family: 'Outfit', sans-serif;
    box-shadow: 5px 10px 18px rgb(17, 17, 17);
    position: relative;
}

.image img:nth-child(1){
    width: 100%;
    border-radius:10px;
}

.image .view img{
    width: 35px;
    height: 35px;
    
}

.view{
    position: absolute;
    box-sizing: border-box;
    background:rgb(0, 255, 247, 0.5);
    height: 260px;
    width: 260px;
    top:20px;
    border-radius:10px;
    visibility: hidden;
    opacity: 0;
    transition: all 400ms ease-out; /*para mostrar el fondo de manera suave*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.image:hover .view{
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}


h1{
    font-size: 18px;
}

h1:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}



.text{
    margin-top: 20px;
}

.text p{
    color: hsl(215, 51%, 70%);
    font-weight: 100;
    margin-top: 15px;
}

.price{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-top: 25px;
}

.price div{
    display: flex;
}

.price .logo img{
    width: 10px;
    margin-right: 5px;
}

.price .clock img{
    width: 15px;
    margin-right: 5px;
}

.logo p{
    font-weight: 400;
    color: hsl(178, 100%, 50%);
    font-size: 13px;
}

.clock{
    justify-content: right;
}
.clock p{
    font-weight: 100;
    font-size:13px ;
    color: hsl(215, 51%, 70%);
    
}

.footer{
    border-top: 1px solid hsl(215, 32%, 27%);
    margin-top: 20px;
    display: flex;
    align-items: center;
    color: hsl(215, 51%, 70%)

}
.footer p{
    font-size: 13px;
    font-weight: 200;
    margin-top: 15px;
}

.footer img{
    width: 25px;
    height: 25px;
    border: 1px solid white;
    border-radius: 50px;
    margin-right: 10px;
    margin-top: 15px;
    
}

.footer a{
    color: white;
    font-weight: 300;
    text-decoration: none;
}

.footer a:hover{
    color: hsl(178, 100%, 50%);
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%);
    
}

